/*Apartado de noticias*/
.Fondo {
  background-color: #fff;
}
body {
  font-size: Cambria;
}

.carousel-indicators1 {
  left: 0;
  top: auto;
  bottom: -70px;
}
.carousel-indicators li {
  background: rgb(216, 208, 208);
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.carousel-indicators .active {
  background: rgb(84, 151, 172);
}
.titulo {
  text-align: left;
  font-weight: 700;
  display: flex;
  font-size: 170%;
  /*align-items: center;*/
  /*justify-content: center;*/
  padding: 30px 15px;
  color: #000000;
  font-family: Cambria;
  margin: 60px 0 15px 40px;
}
.post-list {
  display: flex;
  min-height: 10px;
  align-items: center;
  justify-content: center;
}

.content {
  display: grid;
  grid-gap: 50px;
  max-width: 1000px;
  margin: auto;
}

img {
  width: 100%;
  height: 200px;
  background-size: cover;
  transition: 0.2s;
}

.post {
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.2s;
  background: #ffffff;
}

.post:hover {
  transform: translateY(-4px);
  box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.1);
}

.post-header {
  width: 100%;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3 {
  transform: scale(1.1);
}

.post-body {
  font-family: Cambria;
  padding: 15px;
  text-align: center;
}

.post-body span {
  display: inline-block;
  color: #34495e;
  margin-bottom: 10px;
}

.post-body h2 {
  margin-bottom: 15px;
}

.post-body p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.post-body .post-link {
  display: block;
  text-decoration: none;
  padding: 10px;
  background: #2192c7;
  /*#2b6ebb*/
  color: #fff;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.post-body .post-link:hover {
  background: #3378c7;
  box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
