.pie-pagina {
  width: 100%;
  background-color: rgb(101, 153, 184);
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 150px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #fff;
  margin-bottom: 10px;
}

.ubicacion img {
  width: 40px;
  height: 40px;
}
.ubicacion a {
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;
  max-width: 190px;
  color: white;
}
.ubicacion a:hover {
  color: #616b74;
  transition: all 0.3s ease 0s;
}

.pie-pagina .grupo-2 {
  background-color: rgb(82, 147, 187);
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
}
