/* Submenu

.Submenu {
  position: absolute;
  background: #66a7d3;
  width: 12%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
  z-index: 1;
}
/*#85c1e9
.Submenu li a {
  font-size: 80%;
  display: flex;
  justify-content: flex-start;
  padding: 0px;
  color: #ffffff; /*#2c3e50
  font-family: Building_Typeface;
  text-decoration: none;
  font-weight: 500;
}

.menu li:hover .Submenu {
  visibility: visible;
  opacity: 1;
}

.Submenu1 {
  position: absolute;
  background: #2980b9;
  width: 12%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
  z-index: 1;
}

.Submenu1 li a {
  font-size: 80%;
  display: block;
  padding: 15px;
  color: #ffffff; /*#2c3e50
  font-family: Arial;
  text-decoration: none;
}

.menu li:hover .Submenu1 {
  visibility: visible;
  opacity: 1;
}
.menu-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  /*max-width:1000px;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}
*/
