.banner {
    position: relative;
    width: 100%;
    height: calc(80vh - 50px);
    background-size: cover;
    background-position: center;
    background-image: url("../img/Tramites.jpg");
    z-index: 0;
  }
  .banner-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 32px;
    background-color: rgba(0, 22, 40, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titulo {
    text-align: left;
    font-weight: 700;
    display: flex;
    font-size: 170%;
    /*align-items: center;*/
    /*justify-content: center;*/
    padding: 30px 15px;
    color: #000000;
    margin: 20px 0 5px 40px;
  }
  #main-container {
    border-color: #000000;
    margin: 100px auto;
    width: 1000px;
  }
  body{
    font-size: Cambria;
  }
  table {
    border-color: #000000;
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border-color: #000000;
    border-bottom: solid 1px #000000;
    padding: 20px;
  }
  .seccion{
    background-color: #69a8db;
  }
  .seccion td{
    color: #fff;
  }
  thead {
    background-color: #387997;
    border-bottom: solid 5px #2f5e74;
    color: white;
  }
  

  